[submodule "common/utils"]
	path = common/utils
	url = https://github.com/blockchain-hcls/utils.git

[submodule "chaincodes/src/solution_chaincode/vendor/common"]
	path = chaincodes/src/solution_chaincode/vendor/common
	url = https://github.com/blockchain-hcls/common.git
